:root {
    --primary-color: #ff0000;
    --secondary-color: #f7f7f7;
    --border-color: #eeeef0;
    --text-color: #333;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
}

.error-page {
    text-align: center;
}

#error-code {
    font-size: 10rem;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
}

#error-message {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: 1rem;
}