<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Oups...Something went wrong</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/error-pages.css}">

    <!-- FAVICONS EXTRACTED FROM https://epfl.ch-->
    <link rel="shortcut icon"    th:href="@{/images/favicons/favicon.ico}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/favicons/favicon-152.png}">
    <link rel="icon"             th:href="@{/images/favicons/favicon-16.png}" sizes="16x16">
    <link rel="icon"             th:href="@{/images/favicons/favicon-32.png}" sizes="32x32">
    <link rel="icon"             th:href="@{/images/favicons/favicon-57.png}" sizes="57x57">
    <link rel="icon"             th:href="@{/images/favicons/favicon-76.png}" sizes="76x76">
    <link rel="icon"             th:href="@{/images/favicons/favicon-96.png}" sizes="96x96">
    <link rel="icon"             th:href="@{/images/favicons/favicon-120.png}" sizes="120x120">
    <link rel="icon"             th:href="@{/images/favicons/favicon-128.png}" sizes="128x128">
    <link rel="icon"             th:href="@{/images/favicons/favicon-152.png}" sizes="152x152">
    <link rel="icon"             th:href="@{/images/favicons/favicon-180.png}" sizes="180x180">
    <link rel="shortcut icon"    th:href="@{/images/favicons/android-chrome-192x192.png}" sizes="192x192">
    <link rel="shortcut icon"    th:href="@{/images/favicons/android-chrome-512x512.png}" sizes="512x512">
    <link rel="icon"             th:href="@{/images/favicons/favicon-228.png}" sizes="228x228">
    <link rel="apple-touch-icon" th:href="@{/images/favicons/apple-touch-icon.png}">
    <link rel="apple-touch-icon" th:href="@{/images/favicons/favicon-152.png}" sizes="152x152">
    <link rel="apple-touch-icon" th:href="@{/images/favicons/favicon-180.png}" sizes="180x180">

  </head>
  <body>
    <div class="error-page">
      <h1 id="error-code">[[${status}]]</h1>
      <p id="error-message">Uh-oh! Something went wrong.</p>
    </div>
  </body>
</html>
