<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AUTOGRADE</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon"    th:href="@{/images/favicons/favicon.ico}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/favicons/favicon-152.png}">
    <link rel="icon"             th:href="@{/images/favicons/favicon-16.png}" sizes="16x16">
    <link rel="icon"             th:href="@{/images/favicons/favicon-32.png}" sizes="32x32">
    <link rel="icon"             th:href="@{/images/favicons/favicon-57.png}" sizes="57x57">
    <link rel="icon"             th:href="@{/images/favicons/favicon-76.png}" sizes="76x76">
    <link rel="icon"             th:href="@{/images/favicons/favicon-96.png}" sizes="96x96">
    <link rel="icon"             th:href="@{/images/favicons/favicon-120.png}" sizes="120x120">
    <link rel="icon"             th:href="@{/images/favicons/favicon-128.png}" sizes="128x128">
    <link rel="icon"             th:href="@{/images/favicons/favicon-152.png}" sizes="152x152">
    <link rel="icon"             th:href="@{/images/favicons/favicon-180.png}" sizes="180x180">
    <link rel="shortcut icon"    th:href="@{/images/favicons/android-chrome-192x192.png}" sizes="192x192">
    <link rel="shortcut icon"    th:href="@{/images/favicons/android-chrome-512x512.png}" sizes="512x512">
    <link rel="icon"             th:href="@{/images/favicons/favicon-228.png}" sizes="228x228">
    <link rel="apple-touch-icon" th:href="@{/images/favicons/apple-touch-icon.png}">
    <link rel="apple-touch-icon" th:href="@{/images/favicons/favicon-152.png}" sizes="152x152">
    <link rel="apple-touch-icon" th:href="@{/images/favicons/favicon-180.png}" sizes="180x180">
  </head>
  <body class="h-screen bg-gray-50">

    <th:block th:if="${param.error}">
      <div th:replace="fragments/error-notification"></div>
    </th:block>

    <div class="flex h-full items-center justify-center px-6 py-12 lg:px-8">
      <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg p-6">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img class="mx-auto w-auto" th:src="@{/images/logos/epfl-logo-red.png}" alt="EPFL Logo">
          <h2 class="text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to Autograde</h2>
        </div>
        <hr class="my-6 border-gray-200">
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" th:action="@{/login}" method="POST">
            <div>
              <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
              <div class="mt-2">
                <input type="text" name="username" id="username" autocomplete="username" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-red-600 sm:text-sm/6">
              </div>
            </div>

            <div>
              <div class="flex items-center justify-between">
                <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
                <div class="text-sm">
                  <a th:href="@{/forgot-password}" class="font-semibold text-red-600 hover:text-red-500">Forgot password?</a>
                </div>
              </div>
              <div class="mt-2">
                <input type="password" name="password" id="password" autocomplete="current-password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-red-600 sm:text-sm/6">
              </div>
            </div>

            <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
